.app {
  display: flex;
  height: 100vh;
  font-family: "Inter Variable";
}

.sidebar {
  flex: 1;
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: flex 0.3s ease-in-out;
  z-index: 1000;
  font-weight: 500;
}

.sidebar.shrink {
  flex: 0.25;
}

.brand {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  font-style: italic;
}

.development {
  margin-bottom: 20px;
  font-weight:500;
}

input[type="email"] {
  padding: 10px;
  width: calc(100% - 20px);
  border: none;
  border-bottom:2px solid black;
}

.subscribe {
  padding: 10px;
  width: calc(100%);
  border: none;
  color: white;
  background: black;
  margin-top:10px;
}

.feature {
  flex: 3;
  background-color: white;
  overflow: hidden;
  position: relative;
  z-index: 500;
  font-weight:500;
}

.feature-content {
  padding: 20px;
  font-size: 18px;
}

.feature-navigation {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 20px;
  z-index: 1500;
  text-align:right;
}

.feature-button {
  text-align: right;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 18px;
  font-weight:500;
}

.feature-button.active {
  font-weight:800;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
    align-items: left;
  }

  .sidebar, .sidebar.shrink {
    order: 1;
    flex: none;
  }

  .feature {
    order: 2;
  }

  .feature-navigation {
    order: 3;
    position: static;
  }


  .brand, .development {
    padding:20px;
  }

}